
@{
    ViewBag.Title = "Preview";
    Business.Pagina paginas = ViewBag.Pagina;
}

<script src="https://cdn.tiny.cloud/1/nxscf9mmdg1krjhyld3mc08qp1apfx5wnlt5ak5jiciqk21e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>

<div class="jumbotron">
    <h3>Páginas</h3>
    <div>
        <a href="/paginas" class="btn btn-primary">Voltar</a>

    </div>
    <br />

    <form action="/paginas/@pagina.Id/alterar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="Name" value="@pagina.Name" name="name" placeholder="Digite nome">

        </div>
        <div class="form-group">

            <label for="conteudo">Conteúdo:</label>
            <textarea class="form-control" name="conteudo" id="Conteudo">@pagina.Conteudo</textarea>
        </div>

        <div class="form-group">
            <label for="data">Data:</label>
            <input type="datetime" class="form-control" name="data" value="@pagina.Data" id="Data">
        </div>

        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
</div>