
@{
    ViewBag.Title = "Paginas";
    List<Business.Pagina> paginas = ViewBag.Paginas;
}

<div class="jumbotron">
    <h3>Páginas</h3>
    <div>
        <button class="btn btn-default"><a href="paginas/novo">Novo</a></button>
  
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Data</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var p in paginas)
        {
    <tr>
        <td>@p.Id</td>
        <td>@p.Name</td>
        <td>@p.Data</td>
        <td><a href="/paginas/@p.Id/editar" class="btn btn-primary">Alterar</a></td>
        <td><a href="/paginas/@p.Id/excluir" class="btn btn-danger" onclick="ValidaExclusao(@p.Id, event)">Excluir</a></td>
    </tr>
        }
    </table>
</div>