
@{
    ViewBag.Title = "Nova Página";
    List<Business.Pagina> paginas = ViewBag.Paginas;
}


<div class="jumbotron">
    <h3>Páginas</h3>
    <div>
        <a href="/paginas" class="btn btn-primary">Voltar</a>
    </div>
    <br />
  
    <form action="/paginas/criar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="Name" name="name" placeholder="Digite nome">

        </div>
        <div class="form-group">
            <label for="conteudo">Conteúdo:</label>
            <textarea class="form-control" name="conteudo" id="Conteudo"></textarea>
        </div>

        <div class="form-group">
            <label for="data">Data:</label>
            <input type="datetime" class="form-control" name="data" id="Data">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>