@{
    ViewBag.Title = "Home Page";
    List<Business.Pagina> paginas = ViewBag.Paginas;
}
<div class="jumbotron">
    <h1>Cadastrar Páginas</h1>
    <div>
        <a href="/paginas" class="btn-default">Ir para cadastro de paginas</a>
    </div>
</div>


