@{
    ViewBag.Title = "Home Page";
    List<Business.Pagina> paginas = ViewBag.Paginas;
}
<div class="jumbotron">
    <h1>Cadastrar Páginas</h1>
    <div>
        <button class="btn btn-default"><a href="/paginas">Ir para cadastro de paginas</a></button>
    </div>
</div>


